body
{
background-color: #e2edea;
}


h2
{
color: black;
padding:20px;
font-family: 'cooper black';
text-align: center;
font-size: 30px;
}

h3
{

color: black;
padding:20px;
text-align: center;
font-family: 'cooper black';
text-align: center;
font-size: 20px;
}

